fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
mysql-connector-python==8.2.0
psutil==5.9.6
requests==2.31.0
websockets==14.2
Pillow==10.4.0
PyAutoGUI==0.9.54
dxcam==0.3.0
mss==10.2.0
pywin32==310
pysnmp==7.1.27
pyasn1==0.6.3
winrt-runtime==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Graphics==3.2.1
winrt-Windows.Graphics.Capture==3.2.1
winrt-Windows.Graphics.Capture.Interop==3.2.1
winrt-Windows.Graphics.DirectX==3.2.1
winrt-Windows.Graphics.DirectX.Direct3D11==3.2.1
winrt-Windows.Graphics.DirectX.Direct3D11.Interop==3.2.1
aioquic
