VITE_PROXY_ASSETS_TARGET=http://127.0.0.1:8080
VITE_PROXY_SOFTWARE_TARGET=http://127.0.0.1:8081
VITE_PROXY_POLICY_TARGET=http://127.0.0.1:8082
VITE_ASSETS_API_BASE=/api/v1
VITE_SOFTWARE_API_BASE=/software-api/api/v1
